* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: "Indie Flower", cursive;
  /* kfont-family: 'Comforter Brush', cursive; */
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  background-color: #3f3f3f;
}
.gmail {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
  transition: all 0.4s;
}
.gmail:hover {
  color: #fff;
  text-decoration-color: #fff;
}
.linkedin {
  color: rgb(223, 213, 213);
  text-decoration: underline;
  text-decoration-color: rgb(223, 213, 213);
  transition: all 0.4s;
}
.linkedin:hover {
  color: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
p {
  padding: 1.6rem 0;
}

img {
  width: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* header */

header {
  height: 45rem;
}

header .bg-image {
  position: absolute;
  background-image: url(image/sec0.jpg);
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}

header h1 {
  padding: 15rem;
  padding-bottom: 0;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  padding: 1.6rem 3.2rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  font-family: "Shadows Into Light", cursive;
  transition: all 0.4s;
}

.btn:hover {
  background-color: rgb(131, 62, 37);
}

/* section-a */

#section-a {
  background-color: #eaeaea;
  color: #333;
  padding: 3.2rem 0;
}

/* section-b */

#section-b {
  padding: 3rem;
}
#section-b ul {
  list-style: none;
}
#section-b li {
  background-color: rgb(131, 62, 37);
  color: #fff;
  margin-bottom: 1.5rem;
}
.col-content {
  transition: all 0.3s;
}
.col-content:hover {
  opacity: 0.6;
}

/* section-c */

#section-c {
  background-color: rgb(223, 213, 213);
  color: rgb(0, 0, 0);
  padding: 5rem;
}
/* section-d */
#section-d .box {
  padding: 5rem;
}

#section-d .box:first-child {
  background-color: rgb(37, 120, 131);
  color: rgb(0, 0, 0);
}
#section-d .box:last-child {
  background-color: rgb(131, 62, 37);
  color: rgb(223, 213, 213);
}

/* footer */

footer {
  padding: 1em;
  background-color: #000000;
}

footer a {
  color: rgb(241, 137, 1);
  font-family: "Comforter Brush", cursive;
  text-decoration: underline;
  text-decoration-color: #eaeaea;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 1000px) {
  #section-b li {
    width: 28%;
    height: auto;
    margin: 1%;
    display: inline-block;
  }
  img {
    height: 300px;
  }

  .box {
    width: 50%;
    float: left;
  }

  html {
    font-size: 10px;
  }
}
